*
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.titulo
{
    text-align: center;
    background-color: rgb(148, 83, 209);
    padding: 10px;
}

.subtitulo
{
    
    text-align: center;
}
hr
{
    color: black;
    background-color: black;
    padding: 1px;
}
.sobremim
{
    background-color: white;
    border-radius: 1%;
    box-shadow: 2px 1px 3px;
    padding-bottom: 1px;
}

.trabalhosrealizados
{
    background-color: white;
    padding-bottom: 1px;
    border-radius: 1%;
    box-shadow: 2px 1px 3px;
}
.itens-1
{
 text-align: justify;
 font-size: 16px;
}

.bot
{
    text-align: center;
    color: white;
   background-color:  rgb(148, 83, 209);
   position: fixed;
   bottom: 0 ;
   width: 100%;
}

.btn
{
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    padding: 2px 2px 2px;
    border-style: none;
    text-decoration: none;
    background-color: rgb(146, 18, 163);
}


.btn:hover
{
    background-color: blueviolet;
}